/*My very first style sheet comment */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    background-image: url("pictures/background.webp");   

}

h1 {
    
    font-size: 70px;
    font-weight: 700;
    color: rgb(190, 228, 203);
    background-color: brown;
    max-width: max-content;
    margin: 0 auto;

}
.recipe-links{
    font-size: 30px;
    text-align: center;
}

.recipe-list {
    color: rgb(190, 228, 203);
    list-style: none;
    border-style: dotted;
    height: fit-content;
    width: fit-content;
    display: inline-block;
    background-color: brown;
}

a {
    color:rgb(190, 228, 203);
    background-color: brown;
    text-decoration: none;
}