/*My very first style sheet comment */
/* *{
    border: 2px solid black;
} */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    background-image: url("pictures/background.webp");   

}

h1 {
    
    font-size: 70px;
    font-weight: 700;
    color: rgb(190, 228, 203);
    background-color: orangered;
    max-width: max-content;
    margin: 0 auto;

    

}
.recipe-links{
    text-align: center;
   
}

.recipe-list {
    color: rgb(190, 228, 203);
    list-style: none;
    /* display: block; */
    background-color: orangered;
    padding: 0%;
}

button {
    border: none;
    margin: 0%;
    padding: 0%;
    background-color: orangered;
}
a {
    color:rgb(190, 228, 203);
    background-color: orangered;
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
}